.RelatedTracks {
  display: flex;
  flex-direction: column;
}

.RelatedTracks__heading {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 6px;
  cursor: pointer;
}

.RelatedTracks__heading > h3 {
  font-size: 1.5rem;
  font-family: Interstate, "Lucida Grande", Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 300;
  color: #999;
}

.RelatedTracks__heading > a {
  font-size: 1.5rem;
  font-family: Interstate, "Lucida Grande", Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 300;
  color: #999;
  margin-left: auto;
  text-decoration: none;
}

.RelatedTracks__heading:hover > a {
  color: #333;
}

.RelatedTracks__songs-icon {
  font-size: 1.7rem;
  color: #999;
  margin-right: 6px;
}

.RelatedTracks__tracks-list {
  margin-top: 15px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.RelatedTracks__track-container:hover .RelatedTracks__track-overlay {
  visibility: visible;
}

.RelatedTracks__track {
  display: flex;
  /* border: 1px solid black; */
  z-index: 0;
}

.RelatedTracks__track-image {
  margin-right: 10px;
  cursor: pointer;
}

.RelatedTracks__track-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.RelatedTracks__artist-name {
  font-size: 1.4rem;
  font-family: Interstate, "Lucida Grande", Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 300;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}

.RelatedTracks__artist-name > span:hover {
  color: #333;
}

.RelatedTracks__track-name {
  font-size: 1.4rem;
  font-family: Interstate, "Lucida Grande", Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 300;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}

.RelatedTracks__track-name > span:hover {
  color: #000;
}

.RelatedTracks__alt-info {
  display: flex;
}

.RelatedTracks__alt-info-item {
  font-size: 1.2rem;
  font-family: Interstate, "Lucida Grande", Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 300;
  color: #999;
  margin-right: 10px;
  cursor: pointer;
}

.RelatedTracks__alt-info-item:nth-child(4) {
  margin: 0;
}

.RelatedTracks__icon {
  margin-right: 7px;
  font-size: 1.1rem;
}

.RelatedTracks__alt-info-item:hover > span {
  color: #333;
}

.RelatedTracks__track-overlay {
  /* border: 1px solid black; */
  height: 50px;
  margin-top: -50px;
  /* background-color: red; */
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  visibility: hidden;
}

.RelatedTracks__track-actions {
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  pointer-events: none;
}

.RelatedTracks__track-actions * {
  pointer-events: all;
}

.RelatedTracks__play-button {
  border-radius: 50%;
  border: none;
  outline: none;
  width: 28px;
  height: 28px;
  background-color: #f50;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}


.RelatedTracks__play-button:hover {
  background-color: #f30;
}

.RelatedTracks__action-buttons {
  width: 85px;
  padding-left: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg,hsla(0,0%,100%,.1),#fff 17px);
}

.RelatedTracks__play-button-icon {
  margin-left: 2px;
}

.RelatedTracks__like-button-icon {
  font-size: 1rem;
}

.RelatedTracks__more-button-icon {
  font-size: 1rem;
}