.Button {
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}

.Button--primary {
  background-color: #FF5500;
  color: white;
  border: none;
}

.Button--default {
  background-color: white;
  color: #333;
  border: 1px solid #e5e5e5;
}

.Button--default:hover {
  border-color: #ccc;
}

.Button--secondary {
  background-color: #333;
  color: #fff;
  border: 1px solid #666;
}

.Button--secondary:hover {
  border-color:#999;
}

.Button--medium {
  font-size: 1.4rem;
  padding: 3px 11px 3px 10px;
}

.Button--small {
  font-size: 1.1rem;
  padding: 3px 9px 3px 8px;
}

.Navbar__actions-container {
  width: 333px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}