.Button {
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}

.Button--primary {
  background-color: #FF5500;
  color: white;
  border: none;
}

.Button--secondary {
  background-color: white;
  color: #333;
  border: 1px solid #e5e5e5;
}

.Button--secondary:hover {
  border-color: #ccc;
}

.Button--medium {
  font-size: 1.4rem;
  padding: 3px 11px 3px 10px;
}

.Button--small {
  font-size: 1.1rem;
  padding: 3px 9px 3px 8px;
}
