.AsideInfoUsers {
  display: flex;
  flex-direction: column;
}

.AsideInfoUsers__heading {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 6px;
  cursor: pointer;
  margin-bottom: 15px;
}

.AsideInfoUsers__heading > h3 {
  font-size: 1.5rem;
  font-family: Interstate, "Lucida Grande", Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 300;
  color: #999;
}

.AsideInfoUsers__heading > a {
  font-size: 1.5rem;
  font-family: Interstate, "Lucida Grande", Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 300;
  color: #999;
  margin-left: auto;
  text-decoration: none;
}

.AsideInfoUsers__heading:hover > a {
  color: #333;
}

.AsideInfoUsers__heading-icon {
  font-size: 1.7rem;
  color: #999;
  margin-right: 6px;
}

.AsideInfoUsers__users-list {
  display: flex;
}

.AsideInfoUsers__user {
  border-radius: 50%;
  margin-right: -8px;
}

.AsideInfoUsers__user-image {
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}